<div class="box-body">
  <div class="row">
    <div class="col-xs-4 px-3 pb-0 pt-1">
      <div class="sidebar-form buscab mb-0">
        <div class="input-group">
          <input
            type="text"
            name="q"
            class="form-control"
            style="background-color: #fff !important"
            placeholder="Pesquise pelo nome..."
            ng-model="cCtrl.busca"
            ng-enter="cCtrl.buscaCliente()"
          />
          <span class="input-group-btn">
            <button
              type="submit"
              ng-click="cCtrl.buscaCliente()"
              class="btn btn-flat busca"
            >
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cliente in cCtrl.clientes | orderBy:'nome'">
          <td>{{:: cliente.cpf }}</td>
          <td>{{:: cliente.nome }}</td>
          <td>{{:: cliente.email }}</td>
          <td>{{:: cliente.telefone }}</td>
          <td class="table-actions">
            <button
              class="btn btn-warning"
              ng-click="cCtrl.showTabUpdate(cliente)"
            >
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer clearfix">
    <paginator url="/#!/clientes" pages="{{ cCtrl.pages }}"></paginator>
  </div>
</div>
