<section class="sidebar">
  <ul class="sidebar-menu">
    <!-- <li>
      <a ui-sref="dashboard">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li> -->
    <li>
      <a ui-sref="pedido">
        <i class="fa fa-pencil-square-o"></i> <span>Pedidos</span>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-folder-o"></i> <span>Cadastros</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>

      <ul class="treeview-menu">
        <li>
          <a ui-sref="cliente">
            <i class="fa fa-users"></i> <span>Clientes</span>
          </a>
        </li>
        <li>
          <a ui-sref="servico">
            <i class="fa fa-flash"></i> <span>Serviços</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
