<div class="box-body">
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 10px;">
      <button class="btn btn-info" ng-click="pCtrl.gerarEtiquetas()">
        Gerar Etiquetas
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"></div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Código</th>
          <th>Título</th>
          <th>Produto</th>
          <th>Valor</th>
          <th>Marca</th>
          <th>Fornecedor</th>
          <th>Última alteração</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="produto in pCtrl.produtos">
          <td>
            <input
              type="checkbox"
              name="etiqueta"
              ng-click="pCtrl.addProdList(produto._id)"
              id="{{:: produto.codigo}}"
            />
          </td>
          <td>{{:: produto.codigo }}</td>
          <td>{{:: produto.titulo }}</td>
          <td>{{:: produto.descricao }}</td>
          <td>{{:: produto.valor | currency : 'R$ ' : 2}}</td>
          <td>{{:: produto.marca }}</td>
          <td>
            {{:: produto.cliente.nome.split(' ')[0] }}
            <small>{{:: produto.cliente.telefone }}</small>
          </td>
          <td>{{:: produto.ultAlteracao | date : 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer clearfix">
    <paginator url="/#!/produtos" pages="{{ pCtrl.pages }}"></paginator>
  </div>
</div>
